<div class="container">
    <div class="row">
        <div class="col-md-8 order-md-1 md-4">
            <div class="row">
                <img src="img/logo.jpg" class="rounded-circle my-4" id="avatar" sizes="50%">
            <span id="username_profile" class="d-flex align-items-end">{{{this.user.Username}}}</span>
            </div>
            <div class='d-flex justify-content-end row mb-3'>
                <button class='btn btn-success' disabled>Bidder</button>
            {{#if isAuthenticatedSeller}}
                <button class='btn btn-success mr-3' disabled>Seller</button>
            {{else}}
                <form method='POST'>
                    <button class='btn btn-outline-warning' type="submit" formaction='/user/sellerRequired/{{authUser.UserID}}'>
                        Require Seller
                    </button>
                </form>
            {{/if}}              
            </div>
            <ul class="list-group mb-2">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Merit point: <span class="badge badge-primary badge-pill">{{this.user.Point}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Số lượt đã đấu giá: <span class="badge badge-primary badge-pill">{{authUser.countBid}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Số lượt đấu giá thành công: <span
                        class="badge badge-primary badge-pill">{{authUser.countBid}}</span>
                </li>
            </ul>
            <div class="row">
                <div id="accordion" class='ml-3'>
                    <div class="card">
                        <div class="card-header" id="historyBid">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse"
                                    data-target="#collapseHistory" aria-expanded="true"
                                    aria-controls="collapseHistory">
                                    Feed Back
                                </button>
                            </h5>
                        </div>

                        <div id="collapseHistory" class="collapse show" aria-labelledby="historyBid"
                            data-parent="#accordion">

                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Rate</th>
                                            <th scope="col">Feed Back</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each this.feedback}}
                                        <tr>
                                            <th scope="row">*</th>
                                            <td>{{mask FBerName}}</td>
                                            <td>{{Rating}}*</td>
                                            <td>{{Comment}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-md-2 mb-4">
            <form class="needs-validation" novalidate method="POST">
                <div class="mb-1 mt-5">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" placeholder="Username"
                            value="{{this.user.Username}}" readonly>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your username is required.
                        </div>
                    </div>
                </div>

                <div class="mb-1">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com"
                        value="{{this.user.Email}}" readonly>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-1">
                    <label for="address">Street</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                        value="{{this.user.Street}}" readonly>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>
                <div class="mb-1">
                    <label for="address">District</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                        value="{{this.user.District}}" readonly>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>
                <div class="mb-1">
                    <label for="address">City</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                        value="{{this.user.City}}" readonly>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-1">
                    <label for="phone-number">Phone number</label>
                    <input type="text" class="form-control" id="address" value="{{this.user.PhoneNo}}" readonly>
                    <div class="invalid-feedback">
                        Please enter your contact number.
                    </div>
                </div>
                <hr class="mb-4">

                <a class="btn btn-primary btn-lg btn-block" role="button" href="/user/{{authUser.UserID}}/edit">Edit</a>
            </form>
        </div>
    </div>
</div>