<div class="container">
    <div class="row">
        <div class="col">
            {{#if this.empty}}
            <div class="card-body">
                <p class="card-text">
                    Không có dữ liệu.
                </p>
            </div>
            {{else}}
            <div class="card-body">
                <div class="row">
                    {{#each this.products}}
                    <div class="col-sm-4 mb-3">
                        <div class="card h-100">
                            <img src="/img/{{ItemID}}/1.jpg" alt="{{ProName}}" title="{{ProName}}" class="card-img-top">
                            <div class="card-body">
                                <h6 class="card-title">{{Title}}</h6>
                                <h5 class="card-title text-danger">{{CurrentBidAmount}}</h5>
                                <p class="card-text">{{{TinyDes}}}</p>
                                <p>Seller:
                                <a href="/guess/{{SellerID}}"> {{mask SellerName}} </a>
                                </p>
                                Bidder with highest price: <a href="/guess/{{BidderID}}">{{mask BidderName}}</a>
                                <p>Start Date: {{formatDate AuctionStart}}</p>
                                <p>End Date: {{formatDate AuctionEnd}}</p>
                                <span class="d-flex justify-content-end" id="countdown">
                                    <div class="card bg-danger text-white">
                                        <h5 class="card-title text-center">
                                            <div class="d-flex flex-wrap justify-content-center mt-2">
                                                <a><span class="badge day" id="day"></span></a> :
                                                <a><span class="badge hours" id="hour"></span></a> :
                                                <a><span class="badge min" id="min"></span></a> :
                                                <a><span class="badge sec" id="sec"></span></a>
                                            </div>
                                        </h5>
                                    </div>
                                </span>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/product/{{ItemID}}" class="btn btn-outline-success" role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    Details
                                </a>

                                <form id="like" method ="POST">
                                <button class='btn btn-outline-danger mt-1' formaction="/seller/sellList/{{ItemID}}/delete">
                                <i class="fa fa-trash" aria-hidden="true"> Delete</i>
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <nav aria-label="Page navigation example" style="margin-top: 10px;">
                <ul class="pagination d-flex justify-content-center">
                    {{#if min}}
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link" href="?page={{page_prev}}">Previous</a></li>
                    {{/if}}

                    {{#each this.page_numbers}}
                    {{#if current}}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                    {{/each}}

                    {{#if max}}
                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link" href="?page={{page_next}}">Next</a></li>
                    {{/if}}
                </ul>
            </nav>
            {{/if}}

<script src='/js/listProduct.js'></script>