<div class="container">
    <div>
        <p class="h3 d-flex justify-content-center">Product</p>
    </div>
    <div class="form-row align-items-center  d-flex justify-content-end">
        Sort
        <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option value="0" selected>All</option>
                <option value="1">Most bid</option>
                <option value="2">Near expired</option>
                <option value="3">Most point</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{#if this.empty}}
            <div class="card-body">
                <p class="card-text">
                    Không có dữ liệu.
                </p>
            </div>
            {{else}}
            <div class="card-body">
                <div class="row">
                    {{#each this.products}}
                    <div class="col-sm-4 mb-3">
                        <div class="card h-100">
                            <img src="/img/{{ItemID}}/1.jpg" alt="{{ProName}}" title="{{ProName}}" class="card-img-top">
                            <div class="card-body">
                                <h6 class="card-title">{{Title}}</h6>
                                <h5 class="card-title text-danger">{{CurrentBidAmount}}</h5>
                                <p class="card-text">{{{TinyDes}}}</p>
                                <p>Seller: {{SellerName}}</p>
                                <a href="#">Bidder with highest price: {{BidderName}}</a>
                                <p>Start Date: {{AuctionStart}}</p>
                                <span class="d-flex justify-content-end" id="countdown">
                                    <div class="card bg-danger text-white">
                                        <h5 class="card-title text-center">
                                            <div class="d-flex flex-wrap justify-content-center mt-2">
                                                <a><span class="badge day" id="day"></span></a> :
                                                <a><span class="badge hours" id="hour"></span></a> :
                                                <a><span class="badge min" id="min"></span></a> :
                                                <a><span class="badge sec" id="sec"></span></a>
                                            </div>
                                        </h5>
                                    </div>
                                </span>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/product/{{ItemID}}" class="btn btn-outline-success" role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <nav aria-label="Page navigation example" style="margin-top: 10px;">
                <ul class="pagination d-flex justify-content-center">
                    {{#if min}}
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link" href="?page={{page_prev}}">Previous</a></li>
                    {{/if}}

                    {{#each this.page_number}}
                    {{#if current}}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                    {{/each}}

                    {{#if max}}
                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link" href="?page={{page_next}}">Next</a></li>
                    {{/if}}
                </ul>
            </nav>
            {{/if}}

<script src='/js/listProduct.js'></script>