{{#section 'çss'}}
<style>

</style>
{{/section}}
{{!-- {{#section 'js'}}
<script>// Update the count down every 1 second
    var countDownDate = new Date();

    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        int id = this.products.ItemID;
        // Display the result in the element with id="demo"
        document.getElementsByClassName(`day`).innerHTML = days + " day";
        document.getElementsByClassName(`hour`).innerHTML = hours + " hour";
        document.getElementsByClassName(`min`).innerHTML = minutes + " min";
        document.getElementsByClassName(`sec`).innerHTML = seconds + " sec";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>
{{/section}} --}}


            {{#if this.empty}}
            <div class="card-body">
                <p class="card-text">
                    Không có dữ liệu.
                </p>
            </div>
            {{else}}
            <div class="form-row align-items-center  d-flex justify-content-end">
                    Sort
                    <div class="col-auto my-1">
                        <form method="POST">
                            <label class="mr-sm-2 sr-only" for="sortRe">Preference</label>
                            <select class="custom-select mr-sm-2" id="sortRe" name="sortRe" onchange="this.form.submit()">
                                
                                <option value="0">All</option>
                                <option value="1">Most bid</option>
                                <option value="2">Near expired</option>
                                <option value="3">Most point</option>
                            </select>
                        </form>
                    </div>
                </div>
            <div class="card-body">
                <div class="row">
                    {{#each this.products}}
                    <div class="col-sm-4 mb-3">
                        <div class="card h-100">
                            {{#if holdPrice}}
                            <div class="card-header bg-success">
                                <p class="h5 text-warning">
                                    Holding Price
                                </p>
                            </div>
                            {{/if}}
                            <img src="/img/{{ItemID}}/1.jpg" alt="{{ProName}}" title="{{ProName}}" class="card-img-top">
                            <div class="card-body">
                                <h6 class="card-title">{{Title}}</h6>
                                <h5 class="card-title text-danger">{{CurrentBidAmount}}</h5>
                                <p class="card-text">{{{TinyDes}}}</p>
                                <p>Seller:
                                <a href="/guess/{{SellerID}}"> {{mask SellerName}} </a>
                                </p>
                                Bidder with highest price: <a href="/guess/{{BidderID}}">{{mask BidderName}}</a>
                                <p>Start Date: {{formatDate AuctionStart}}</p>
                                <p>End Date: {{formatDate AuctionEnd}}</p>
                                <p>Time left: {{time}}</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/product/{{ItemID}}" class="btn btn-outline-success" role="button">
                                    <i class="fa fa-eye" aria-hidden="true">Details</i>
                                </a>
                                <form id="like" method ="POST">
                                <button class='btn btn-outline-danger mt-1' formaction="/user/watchList/{{ItemID}}">
                                <i class="fa fa-heart" aria-hidden="true">Later</i>
                                </button>
                                </form>
                                {{#if_equal SellerID authUser.UserID}}
                                <a class="btn btn-outline-danger d-flex align-items-center" role="button" href="/seller/modifyItem/{{ItemID}}">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Update
                                </a> 
                                {{/if_equal}}    
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <nav aria-label="Page navigation example" style="margin-top: 10px;">
                <ul class="pagination d-flex justify-content-center">
                    {{#if min}}
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link" href="?page={{page_prev}}">Previous</a></li>
                    {{/if}}

                    {{#each this.page_numbers}}
                    {{#if current}}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                    {{/each}}

                    {{#if max}}
                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link" href="?page={{page_next}}">Next</a></li>
                    {{/if}}
                </ul>
            </nav>
            {{/if}}