{{#section 'css'}}
{{/section}}
{{#section 'js'}}
<script>// Update the count down every 1 second
    //var countDownDate = moment(this.product.AuctionEnd,'YYYY-MM-DD').format('DD/MM/YYYY');

    var countDownDate = new Date();
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();
        //now = moment(now,'YYYY-MM-DD').format('DD/MM/YYYY');// Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        int id = this.products.ItemID;
        // Display the result in the element with id="demo"
        document.getElementById(`day`).innerHTML = days + " day";
        document.getElementById(`hour`).innerHTML = hours + " hour";
        document.getElementById(`min`).innerHTML = minutes + " min";
        document.getElementById(`sec`).innerHTML = seconds + " sec";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);


</script>

<script>
    function isMoneyValid() {
        const money = $("#money").val();
        const current = {{this.product.CurrentBidAmount}};
        

        const productPoint = {{ this.product.MinPoint }};
        const userPoint = {{ authUser.Point}};
        const bidTime = {{authUser.countBid}};
        const condition = (bidTime == 0) || (productPoint < userPoint);

        if (money <= current) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'More money please',
                footer: 'you need more money to bid'
            })
            return false;
        }
        if (!condition ) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'More point please',
                footer: 'you need more point to bid'
            })
            return false;
        }   
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Bid it!'
            }).then((result) => {
            if (result.value) {
                Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
                ).then((result)=>{
                    return result;
                });
            }
        })
    return true;
    }

</script>
<script>

</script>
{{/section}}
<div class="container">
    <div class="card mb-5">
        <div class="row">
            <!-- img -->
            <div class="col-md-4">
                <img src="/img/{{this.product.ItemID}}/1.jpg" style="width: 360px; height:360px;" id="show"
                    alt="{{this.product.Title}}" class="mb-5">
                <div id="picProduct"
                    class="carousel slide carousel-multi-item d-flex justify-content-center align-items-center"
                    data-ride="carousel">
                    <!--Controls-->
                    <div class="controls-top mr-3">
                        <a class="btn-floating" href="#picProduct" data-slide="prev">
                            <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!--/.Controls-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4">
                                    <a href="#" onclick="showPic(0)"><img class="card-img-top"
                                            src="/img/{{this.product.ItemID}}/2.jpg" alt="Card image cap"></a>
                                </div>

                                <div class="col-4">
                                    <a href="#" onclick="showPic(1)"><img class="card-img-top"
                                            src="/img/{{this.product.ItemID}}/3.jpg" alt="Card image cap"></a>
                                </div>
                                <div class="col-4">
                                    <a href="#" onclick="showPic(2)"><img class="card-img-top"
                                            src="/img/{{this.product.ItemID}}/4.jpg" alt="Card image cap"></a>
                                </div>
                            </div>
                        </div>
                        <!--/.First slide-->

                        <!--Second slide-->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="#" onclick="showPic(3)"><img class="card-img-top"
                                        src="/img/{{this.product.ItemID}}/5.jpg" alt="Card image cap"></a>
                                </div>

                                <div class="col-md-4">
                                    <a href="#" onclick="showPic(4)"><img class="card-img-top"
                                        src="/img/{{this.product.ItemID}}/6.jpg" alt="Card image cap"></a>
                                </div>

                                <div class="col-md-4">
                                    <a href="#" onclick="showPic(5)">
                                        <img class="card-img-top" 
                                        src="/img/{{this.product.ItemID}}/7.jpg" alt="Card image cap"></a>
                                </div>
                            </div>
                        </div>
                        <!--/.Second slide-->

                    </div>
                    <!--/.Slides-->
                    <div class="controls-top ml-3">
                        <a class="btn-floating" href="#picProduct" data-slide="next">
                            <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <div class=" card-title d-flex justify-content-between">
                        <h1 class="card-title">{{this.product.Title}}</h1>
                        <a class="btn btn-outline-danger d-flex align-items-center" role="button" href="javascript: $('#like').submit();">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Later
                        </a>       
                        <form id="like" method ="POST" action="/user/watchList/{{this.product.ItemID}}"></form>
                        <span class="h1" id="current">$ {{this.product.CurrentBidAmount}}
                        </span>

                    </div>
                    <br>
                    <p class="card-text">
                        {{{this.product.TinyDes}}}
                    </p>
                    <script>

                    </script>
                    <span class="d-flex justify-content-end">
                        <div class="card bg-danger text-white">
                            <h3 class="card-title text-center">
                                <div class="d-flex flex-wrap justify-content-center mt-2">
                                    <a><span class="badge day" id="day"></span></a> :
                                    <a><span class="badge hours" id="hour"></span></a> :
                                    <a><span class="badge min" id="min"></span></a> :
                                    <a><span class="badge sec" id="sec"></span></a>
                                </div>
                            </h3>
                        </div>
                    </span>

                    <p class="card-text mb-3">
                        Contidtion: <span class="h1 text-info"> {{this.product.Condition}} </span>
                        {{!-- <a href="#">
                            <i class="fa fa-arrow-up fa-2x text-success"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-arrow-down fa-2x text-dark"></i>
                        </a> --}}
                        <br> Date: <strong>{{this.product.AuctionStart}}</strong> <br> 
                        Owner:
                        <a href="/guess/{{this.product.SellerID}}"> <strong> {{mask this.product.SellerName}} </strong> </a> <br> Point's Owner: <strong>{{this.product.SellerPoint}}
                        </strong>
                        <hr> Bidder's highest price:
                        <a href="/guess/{{this.product.BidderID}}"> <strong>{{mask this.product.BidderName}}</strong> </a> <br> Bidder's points:
                        <strong>{{this.product.BidderPoint}}</strong>
                    </p>
                    <hr>
                    <div>
                        Time bidded: {{this.bid}}
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="historyBid">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse"
                                            data-target="#collapseHistory" aria-expanded="true"
                                            aria-controls="collapseHistory">
                                            History
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseHistory" class="collapse show" aria-labelledby="historyBid"
                                    data-parent="#accordion">

                                    <div class="card-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Amount</th>
                                                    <th scope="col">Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each this.history}}
                                                <tr>
                                                    <th scope="row">*</th>
                                                    <td>{{mask BidderName}}</td>
                                                    <td>${{BidAmount}}</td>
                                                    <td>{{time}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <form method="POST" id="formBid" onsubmit="return isMoneyValid();">
                        <p class="card-text">How much do you want to bid??</p>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        {{#if isAuthenticated}}
                                        <input type="text" class="form-control" id="money" name="money"
                                            placeholder='{{recommendMoney this.product.CurrentBidAmount}}'>
                                        <button type="submit" class="btn btn-danger m-0 rounded-right-button"
                                            formaction="/bidder/{{this.product.ItemID}}/{{authUser.UserID}}/bidProduct"
                                            value="SUBMIT">
                                            <i class="fa fa-gavel" aria-hidden="true"> Bid Max Price </i>
                                        </button>
                                        {{else }}
                                        <button class="btn btn-danger m-0 rounded-right-button" disabled value="SUBMIT">
                                            <i class="fa fa-gavel" aria-hidden="true"> Bid </i>
                                        </button>
                                        <label for="money">Log in first</label>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <p class="card-text"><small class="text-muted">{{this.product.AuctionStart}}</small></p>
                </div>
            </div>
        </div>
        <!-- /summary-->
        <div class="mb-5 ml-3">
            {{{this.product.FullDes}}}
        </div>
    </div>
    <hr>
    <div class="h3 d-flex justify-content-center mb-5">Products you may considerate</div>
    <div class="mt-10">
        <div id="multi-item-example_bot"
            class="carousel slide carousel-multi-item d-flex justify-content-center align-items-center"
            data-ride="carousel">
            <!--Controls-->
            <div class="controls-top mr-3">
                <a class="btn-floating" href="#multi-item-example_bot" data-slide="prev">
                    <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example_bot" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example_bot" data-slide-to="1"></li>
                <li data-target="#multi-item-example_bot" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        make up
                                        the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        make up
                                        the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        make up
                                        the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        make up
                                        the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        make up
                                        the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        make up
                                        the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Second slide-->
                <!--Third slide-->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        make up
                                        the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        make up
                                        the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        make up
                                        the bulk of the card's content.</p>
                                    <a class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Third slide-->

            </div>
            <!--/.Slides-->
            <div class="controls-top ml-3">
                <a class="btn-floating" href="#multi-item-example_bot" data-slide="next">
                    <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!--/.Carousel Wrapper-->
    </div>
</div>
{{#section 'js'}}
<script>
    function AmountValid() {
        const bid = $("input[name = money]").val();
        const current = this.product.CurrentBidAmount;

        console.log(bid);
        console.log(current);

        if (bid < current) {
            Swal.fire();
            return false;
        }
        return true;
    }

    Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'bid need bigger',
        footer: 'You need to check Start Date and End Date'
    })

</script>
{{/section}}