<div class="container mt-10">

    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action d-flex justify-content-between" id="list-bidder-list"
                    data-toggle="list" href="#list-bidder" role="tab" aria-controls="home">
                    Bidders
                    <span class="badge badge-warning badge-pill"> {{this.nBidder.numBidder}}</span>
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between" id="list-seller-list"
                    data-toggle="list" href="#list-seller" role="tab" aria-controls="profile">
                    Sellers
                    <span class="badge badge-success badge-pill"> {{this.nSeller.numSeller}}</span>
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between" id="list-upgrade-list"
                    data-toggle="list" href="#list-upgrade" role="tab" aria-controls="profile">
                    Request Bidder to seller
                    <span class="badge badge-success badge-pill"> {{this.nRequest.numRequest}}</span>
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between" id="list-categories-list" data-toggle="list"
                    href="#list-categories" role="tab" aria-controls="settings">
                    Categories
                    <span class="badge badge-warning badge-pill"> {{this.nCategory.numCategory}}</span>
                </a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-bidder" role="tabpanel" aria-labelledby="list-bidder">
                    {{#if this.emptyBidder}}
                    <div class="card-body">
                        <p class="card-text"> No data available</p>
                    </div>
                    {{else}}
                    <p class="h2 d-flex justify-content-center">Danh sách yêu cầu nâng cấp từ Bidder thành Seller</p>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Full name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Point</th>
                                <th scope="col">Bidded Product</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.bidder}}
                            <tr>
                                <th scope="row">*</th>
                                <td>{{Fname}}</td>
                                <td>{{Email}}</td>
                                <td>{{Point}}</td>
                                <td>{{total}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{/if}}
                </div>
                <div class="tab-pane fade" id="list-seller" role="tabpanel" aria-labelledby="list-seller">
                    {{#if this.emptySeller}}
                    <div class="card-body">
                        <p class="card-text">
                            No data available
                        </p>
                    </div>
                    {{else}}
                    <p class="h2 d-flex justify-content-center">Danh sách Seller</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">User name</th>
                                <th scope="col">Point</th>
                                <th scope="col">Product sold</th>
                                <th scope="col">Down</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.seller }}
                            <tr>
                                <th scope="row">*</th>
                                <td>{{UserID}} </td>
                                <td>{{Username}}</td>
                                <td>{{Point}}</td>
                                <td>{{total}}</td>
                                <td>
                                <a class="btn btn-outline-warning" role = "button" href="/admin/seller/{{UserID}}">Detail</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{/if}}
                </div>
                <div class="tab-pane fade show" id="list-upgrade" role="tabpanel" aria-labelledby="list-upgrade">
                    {{#if emptyRequest}}
                    <div class="card-body">
                        <p class="card-text"> No data available</p>
                    </div>
                    {{else}}
                    <p class="h2 d-flex justify-content-center">Danh sách yêu cầu nâng cấp từ Bidder thành Seller</p>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Full name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Point</th>
                                <th scope="col">Bidded Product</th>
                                <th scope="col">Approve</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.requestSeller}}
                            <tr>
                                <th scope="row">*</th>
                                <td>{{Fname}}</td>
                                <td>{{Email}}</td>
                                <td>{{Point}}</td>
                                <td>34</td>
                                <td>
                                    <form method="POST">
                                        <button type="submit" class="btn btn-success" formaction="/admin/aprove/{{UserID}}">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button type="submit" class="btn btn-danger" formaction="/admin/reject/{{UserID}}">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{/if}}
                </div>
                <div class="tab-pane fade" id="list-categories" role="tabpanel" aria-labelledby="list-categories">
                    {{#if this.emptyCategory}}
                    <div class="card-body">
                        <p class="card-text">
                            No data available
                        </p>
                    </div>
                    {{else}}
                    <p class="h2 d-flex justify-content-center">List categories</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Categories</th>
                                <th scope="col">Product</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.category}}
                            <tr>
                                <td scope="row">*</td>
                                <td scope="col">{{CatName}}</td>
                                <td>{{Total}}</td>
                                <td>
                                    <form method="POST">
                                    <a class="btn btn-outline-warning" href="/admin/category/{{CatID}}">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <button type="submit" class="btn btn-outline-danger" formaction="/admin/deleteCategory/{{CatID}}" {{#if isDel}} {{else}} disabled {{/if}} >
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{/if}}
                    <div>
                        <a href="/admin/addCategory" role = 'button' class='btn btn-outline-primary'>
                            <i class="fa fa-plus" aria-hidden="true"> Add categories</i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='js/management.js'></script>